.content {
    color: #333333;
    display: contents !important;
}

label, h4, h1 {
    color: #333333 !important;
}

.col-sm-2, .col-sm-10 {
    color: #333333 !important;
}

h1 {
    font-size: 30px;
    text-align: center
}